* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: auto;
    height: auto;
    background-color: #21243d;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo {
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo>.img {
    width: 210px;
    height: 50px;
    background-image: url(image/logo.svg);
}



.list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.list ul li {
    list-style: none;
}

.list ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.serch i {
    color: white;
    font-size: 20px;
}

.page1 {
    width: auto;
    height: auto;
    background-color: #c17d00;
}

.bgimg1 {
    width: 100%;
    height: 88vh;
    background-image: url(image/background1.svg);
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -70px;
    top: 83.3px;
}

.bg-cover {
    width: 100%;
    height: 88vh;
    position: relative;
    background-color: #c17d00;
    opacity: 0.3;
    z-index: 2;
}

.page1-elemant {
    width: 43%;
    height: 88%;
    position: absolute;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 100px;
    top: 80px;
    justify-content: center;
}

.page1-elemant h1 {
    font-size: 120px;
}

.page1-elemant p {
    font-size: 30px;
}

.page1-elemant button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #21243d;
    color: white;
    font-size: 18px;
}

.page2 {
    width: auto;
    height: auto;
    background-color: #21243d;
    color: white;
}

.page2 .shap1 {
    width: 165px;
    height: 50px;
    background-image: url(image/Shape1.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 102%;
    left: 21%;
}

.page2 .shap2 {
    width: 191px;
    height: 192px;
    background-image: url(image/Shape2.svg);
    position: absolute;
    top: 167%;
    left: -66px;
}

.page2 .shap3 {
    width: 97px;
    height: 24px;
    background-image: url(image/Shape3.svg);
    position: absolute;
    top: 118%;
    left: 10%;
}

.page2 .shap4 {
    width: 168px;
    height: 41px;
    background-image: url(image/Shape1.svg);
    rotate: 450deg;
    position: absolute;
    top: 151%;
    right: -46px;
}

.page2 .shap5 {
    width: 140px;
    height: 189px;
    background-image: url(image/Shape2.svg);
    position: absolute;
    top: 94%;
    right: 3px;
}

.page2 .shap6 {
    width: 97px;
    height: 25px;
    background-image: url(image/Shape3.svg);
    position: absolute;
    top: 192%;
    right: 0;
}

.page2-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.page2-title h2 {
    font-size: 60px;
    text-align: center;
    height: 110px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.page2-title p {
    width: 40%;
    height: 80px;
    font-size: 22px;
    text-align: center;
}

.page2-cards {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.page2-cards .photo1,
.photo2,
.photo3 {
    width: 250px;
    height: 250px;
    border-radius: 130px;
}

.page2-cards .photo1 {
    background-image: url(image/sweet1.svg);
}

.page2-cards .photo2 {
    background-image: url(image/sweet2.svg);
}

.page2-cards .photo3 {
    background-image: url(image/sweet3.svg);
}

.card {
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card h4 {
    font-size: 28px;
}

.card p {
    font-size: 18px;
}

.page3 {
    width: auto;
    height: auto;
    background-color: #ffd17e;
    color: #21243d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.page3 .img {
    width: 470px;
    height: 470px;
    background-image: url(image/page3img.svg);
    border-radius: 263px;
    z-index: 1;
}

.page3-elements {
    width: 36%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}

.page3 h2 {
    font-size: 75px;
}

.page3 p {
    font-size: 30px;
}

.page3 button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #21243d;
    color: white;
    font-size: 18px;
}

.page3 .shape1 {
    width: 191px;
    height: 192px;
    background-image: url(image/Shape31.svg);
    position: absolute;
    top: 224%;
    left: 8%;
}

.page3 .shape2 {
    width: 74px;
    height: 165px;
    background-image: url(image/Shape32.svg);
    position: absolute;
    top: 275%;
    left: 2%;
}

.page3 .shape3 {
    width: 97px;
    height: 24px;
    background-image: url(image/Shape33.svg);
    position: absolute;
    top: 213%;
    left: 54%;
}

.page3 .shape4 {
    width: 74px;
    height: 165px;
    background-image: url(image/Shape32.svg);
    position: absolute;
    top: 209%;
    left: 93%;
}

.page3 .shape5 {
    width: 152px;
    height: 192px;
    background-image: url(image/Shape31.svg);
    position: absolute;
    top: 266%;
    left: 90%;
}

.page4 {
    width: auto;
    height: auto;
    background-color: #21243d;
    position: relative;
}

.page4-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    height: 38vh;
}

.page4-title h2 {
    font-size: 60px;
    text-align: center;
    height: 110px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.page4-title p {
    width: 40%;
    height: 80px;
    font-size: 22px;
    text-align: center;
}

.page4-cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 165px;
    height: 62vh;
    padding-top: 44px;
}

.page4-cards .crecle1 {
    width: 250px;
    height: 250px;
    border: 4px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.crecle1>h2 {
    font-size: 66px;
}

.crecle1>span {
    font-size: 47px;
    font-weight: 600;
}


.page4-shap1 {
    width: 167px;
    height: 73px;
    background-image: url(image/Shape1.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 80%;
    right: 33%;
}

.page4-shap2 {
    width: 192px;
    height: 193px;
    background-image: url(image/Shape2.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 8%;
    right: 8%;
}

.page4-shap3 {
    width: 140px;
    height: 50px;
    background-image: url(image/Shape3.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 33%;
    left: 7%;
}

.page4-shap4 {
    width: 165px;
    height: 50px;
    background-image: url(image/Shape3.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 84%;
    right: 4%;
}

.page4-shap5 {
    width: 192px;
    height: 136px;
    background-image: url(image/Shape2.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 80.5%;
    left: 27%;
}

.page4-shap6 {
    width: 167px;
    height: 73px;
    background-image: url(image/Shape1.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 8%;
    right: 84%;
}

.page5 .img {
    background-image: url(image/page5img.svg);
}

.page5 .shape1 {
    top: 9%;
    left: 177%;
}

.page5 .shape2 {
    top: 70%;
    left: 218%;
}

.page5 .shape3 {
    top: 14%;
    left: 3%;
}

.page5 .shape4 {
    top: -17px;
    left: 95%;
    rotate: 90deg;
}

.page5 .shape5 {
    top: 70%;
    left: 86%;
    width: 191px;
}

.page5-elements {
    position: relative;
}



.page6-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100vh;
    position: relative;
    z-index: 2;
    color: white;
}

.page6-element .img {
    width: 200px;
    height: 200px;
    background-image: url(image/drjigu.svg);
    background-position: center;
    border-radius: 50%;
}

.page6-element p {
    font-size: 25px;
    width: 577px;
    text-align: center;
}

.page6-element h2 {
    font-size: 35px;
}

.page6-bgphoto {
    width: 100%;
    height: 100vh;
    background-image: url(image/page6bgimg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page6-cover {
    width: 100%;
    height: 100vh;
    background-color: #21243d;
    opacity: 0.9;
    position: absolute;
}

.page7 p,
.page7 h2 {
    text-align: center;
}

.page7 input {
    width: 100%;
    height: 51px;
    border-radius: 100px;
    border: none;
    padding: 20px;
}

.page7 input::placeholder {
    font-size: 18px;
}

.page7 .input {
    width: 75%;
    position: relative;
}

.page7 button {
    position: absolute;
    right: 0px;
    top: 0px;
}

.page7-elements .shape1 {
    top: 88%;
    left: 43%;
}

.page7-elements .shape2 {
    top: 81%;
    left: 135%;
}

.page7-elements .shape3 {
    top: 10%;
    left: 87%;
}

.page7-elements .shape4 {
    top: 10%;
    left: -16%;
    rotate: 90deg;
}

.page7-elements .shape5 {
    top: 10%;
    left: 130%;
}

.page7-elements .shape6 {
    width: 97px;
    height: 24px;
    background-image: url(image/Shape33.svg);
    position: absolute;
    top: 98%;
    left: -18%;
}

.page7-elements {
    width: 50%;
    height: 80vh;
    align-items: center;
    position: relative;
}

.page7 {
    width: auto;
    height: 100vh;
    background-color: #ffd17e;
    color: #21243d;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 100px;
}

footer {
    width: auto;
    height: auto;
    background-color: #111111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

footer .title {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 30%;
    height: 70vh;
    justify-content: center;
}

footer .title h2 {
    font-size: 32px;
}

footer .title p {
    font-size: 21px;
}

.ficons {
    display: flex;
    gap: 10px;
}

.ficons div {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.ficons div i {
    font-size: 20px;
}

.about-list h2,
.services-list h2,
.other h2 {
    font-size: 32px;
}

.about-list ul,
.services-list ul,
.other ul {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last {
    display: flex;
    gap: 70px;
}

.about-list p,
.services-list p,
.other p {
    font-size: 21px;
}

.about-list,
.services-list,
.other {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


footer ul li {
    list-style: none;

}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 25px;
    }

    .list ul {
        flex-direction: column;
        gap: 35px;
    }

    .serch {
        height: 45px;
    }

    .bgimg1 {
        background-size: auto;
        background-position: center;
        top: 60.5%;
    }

    .page1-elemant {
        width: 100%;
        gap: 72px;
        padding-left: 0;
        align-items: center;
        text-align: center;
        top: 58%;
    }

    .bg-cover {
        opacity: 0.3;
    }

    .page2-cards {
        height: 165vh;
        flex-direction: column;
    }

    .page2-title p {
        width: 70%;
        height: 133px;
    }

    .card p {
        font-size: 20px;
    }

    .page2 .shap6 {
        width: 77px;
        top: 235%;
        right: 0;
    }

    .page2 .shap2 {
        top: 174%;
        left: -91px;
    }

    .page2 .shap1 {
        top: 266%;
        left: -9%;
        rotate: 450deg;
    }

    .page2 .shap3 {
        top: 314%;
        left: 11%;
    }

    .page2 .shap5 {
        top: 321%;
        right: 0px;
    }

    .page3 {
        flex-direction: column;
        gap: 20px;
        padding-top: 70px;
    }

    .page3 .img {
        width: 400px;
        height: 400px;
    }


    .page3-elements {
        width: 82%;
        height: 50vh;
        text-align: center;
        align-items: center;
    }

    .page3 .shape1 {
        top: 386%;
        left: 5%;
    }

    .page3 .shape2 {
        top: 336%;
        left: 3%;
    }

    .page3 .shape3 {
        top: 362%;
        left: 88%;
        rotate: 194deg;
        width: 64px;
    }

    .page3 .shape4 {
        top: 435%;
        left: 91%;
        width: 46px;
    }

    .page3 .shape5 {
        top: 444%;
        left: -26%;
        width: 191px;
        height: 143px;
    }


    .page4-cards {
        height: 123vh;
        flex-direction: column;
        gap: 53px;
        align-items: center;
        padding: 0;
    }

    .page4-title h2 {
        height: 73px;
        font-size: 65px;
        align-items: center;
    }

    .page4-title {
        height: 30vh;
    }

    .page4-title p {
        width: 70%;
    }

    .page4-shap1 {
        top: 18%;
        right: 86%;
    }

    .page4-shap2 {
        top: -81px;
        right: 2px;
        width: 128px;
    }


    .page4-shap5 {
        height: 113px;
        top: 90.5%;
        left: 397px;
    }

    .page4-shap3 {
        left: 74%;
        top: 41%;
    }

    .page4-shap4 {
        right: 78%;
    }

    .page4-shap6 {
        top: 49%;
        right: 80%;
    }

    .page5 .img {
        margin-bottom: 40px;
    }

    .page3 .shape1 {
        top: 387%;
        left: 61%;
    }

    .page5 .shape2 {
        top: -45%;
        left: 3%;
    }

    .page5 .shape3 {
        top: 32%;
    }

    .page3 .shape4 {
        top: 309px;
        left: 87%;
    }

    .page3 .shape5 {
        top: 271px;
        height: 191px;
    }

    .page6-bgphoto {
        background-size: 195%;
    }

    .page6-element p {
        width: 446px;
    }

    .page7 {
        align-items: center;
        justify-content: normal;
    }

    .page7 .input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 23px;
    }

    .page7 button {
        position: static;
    }

    .page7 {
        height: 70vh;
    }

    .page7 .shape1 {
        top: 67%;
        left: 70%;
    }

    .page7 .shape2 {
        top: -14%;
        left: -16%;
    }

    .page7 .shape4 {
        display: none;
    }

    .page7 .shape5 {
        display: none;
    }

    .page7 .shape6 {
        display: none;
    }

    .page7 .shape3 {
        top: -6%;
        left: 96%;
        rotate: 194deg;
        width: 64px;
    }

    .page5 .shape1 {
        top: 162%;
        left: 61%;
    }

    footer {
        gap: 10px;
        flex-direction: column;
    }

    footer .title {
        width: 60%;
        height: 44vh;
        align-items: center;
        text-align: center;
    }

    .last {
        gap: 66px;
        height: 39vh;
    }
}